.calculator-container {
    font-family: Arial, sans-serif;
    padding: 20px;
    margin: 0;
  }
  
  form {
    margin-bottom: 20px;
  }
  
  input[type="number"] {
    width: 100px;
    padding: 10px;
    margin: 10px 0;
  }
  
  input[type="submit"], button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 20px;
  }
  
  button {
    display: block;
  }
  
  .resource-matrix {
    margin-top: 20px;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
  }
  
  table, th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
  }
  
  .available-resources {
    margin-top: 20px;
  }
  
  .available-resources input {
    margin-bottom: 10px;
  }
  
  .result {
    margin-top: 30px;
    font-size: 1.2em;
    font-weight: bold;
  }

  .rules-box {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    max-width: 671px;
    margin-left: 886px;
    margin-top: -219px;
  }
  
  .rules-box h3 {
    margin-top: 0;
  }
  
  .rules-box ul {
    list-style-type: disc;
    margin-left: 20px;
  }

  .input-fields {
    width: 60%; /* Adjust the width of the input fields */
  }

