.header {
  background-color: #4CAF50;
  color: white;
  padding: 10px 0;
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

.navbar li {
  margin: 0 10px;
}

.navbar a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

html,
body {
  height: 100%; /* Ensure the body takes the full height */
  margin: 0; /* Remove default margin */
}

.App {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  min-height: 100vh; /* Ensure the App takes at least full height */
}

main {
  flex: 1; /* Allow main content to grow */
}

.footer {
  background-color: #f8f9fa; /* Footer background color */
  padding: 10px; /* Footer padding */
  text-align: center; /* Center footer text */
}
